
.header{
    position: relative;
    top : 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.logoImg{
    width: 210px;
    height: 68px;
    object-fit: contain;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.link {
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: 500;
    line-height:34.22px;
}
.activeLink {
    border-bottom: 2px solid #000;
}
@media (max-width: 768px) {
    .logoImg{
        width: 145px;
        height: 46.88px;
    }
    .link {
        font-size: 18px;
        line-height: 25px;
    }
}
@media (max-width: 480px) {
    .header{
        padding: 15px 25px;
    }
    .logoImg{
        width: 145px;
        height: 46.88px;
    }
    .link {
        font-size: 12px;
        line-height: 17.11px;
    }
}