
.houseHeader{
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .houseITitle{
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
} */

.hostContent{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;

}
.host{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hostName{
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    color: #FF6060;
    width: 50%;
}
.hostImg{
    align-self: flex-end;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover; 
}

.tags{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.tag{
    background-color: #FF6060;
    color: #fff;
    padding: 5px 12px;
    border-radius: 10px ;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.96px;
}

.rate{
    width: 36px;
    height: 36px;
}
.houseCollapses{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    flex-wrap: nowrap; 

}
.houseCollapse{
    flex: 1;
    max-width: 50%;
    padding: 20px; 
}


/* .houseBody{
    display: flex;
    flex-direction: column;
} */
@media (max-width: 576px){
    .houseHeader{
        flex-direction: column;

    }
    .hostContent{
        
    }
}