.collapse{
    /* width: 80%; */
    margin: auto;
    margin-top: 25px;
}
.collapseHeader{
    background-color: #FF6060;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-right: 20px;
}
.collapseTitle{   
    padding: 5px 25px;
    border-radius: 10px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    line-height: 34.22px;
}
.collapseImg{
    width: 29px;
    height: 29px;
    transition: transform 0.3s ease;  
}
.collapseImgOpen {
    width: 29px;
    height: 29px;
    transform: rotate(180deg);
}
.collapseBody{
    background-color: #F6F6F6;
    padding: 15px 25px;
    display: none;
    border-radius: 5px;
}
.collapseBodyIsOpen{
    background-color: #F6F6F6;
    padding: 15px 25px;
    display: block;
    border-radius: 5px;
}
.collapseText{
    font-size: 18px;
    font-weight: 400;
    line-height: 25.67px;
}

@keyframes slideDown {
    from {
        transform: translateY(-66%) scaleY(0)
    }

    to {
        transform: translateY(0) scaleY(1)
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0) scaleY(1);
    }

    to {
        transform: translateY(-66%) scaleY(0);
    }
}

.animation {
    animation: 0.25s linear slideDown;
}

.animationReverse {
    animation: 0.25s linear slideUp;
}