.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    color: #fff;
    padding: 25px;
}
.bannerTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.imgParent{
    width: 100%;
}
.imgBanner{
    width: 100%;
}
@media (max-width: 768px){
    .banner{
       
    }
}
/* @media (max-width: 992px){ 
    .imgBanner{
        width: 920px;
    }
  }
  @media (max-width: 768px){ 
    .imgBanner{
        width: 680px;
    }
  }
  @media (max-width: 576px){ 
    .imgBanner{
        width: 500px;
    }
  }
    @media (max-width: 480px) {
    .imgBanner{
        width: 335px;
        height: 111px;
    }

} */